* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; /* Apenas para debugging */
}

body{
    height: 100vh;
    color: #072e5a;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--cor-ciano);
}


.nav_cont {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.nav_left {
    display: flex;
    margin-bottom: 24px;
}

.logo img {
    height: 150px;
}

.division_line {
    display: flex;
    width: 75%;
    background-color: #00adcd;
    margin: auto;
    margin-bottom: 24px;
    height: 3px;
}

.nav-links {
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    font-weight: 400;
    font-size: 30px;
    color: var(--cor-azul-escuro);
}

.nav-links li {
    list-style-type: none;
    margin: 0 !important;
}

.nav-links li a.active {
    color: var(--cor-azul-escuro);
    font-weight: 700;
    position: relative;
}

.nav-links li a:hover {
    opacity: 0.7;
}


/* HEADER FIM */

.hero_img{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 450px;
}

.hero_img.filter::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 46, 90, 0.7);
    z-index: 1;
}

.background-img{
    position: absolute;
    z-index: 0;
}

.toggle_list h1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 24px;
    font-size: 25px;
}


.text {
    position: absolute;
    left: 5%;
    top: 45%;
    transform: translateY(-30%);
    z-index: 2;
    color: var(--cor-branco);
    max-width: 700px;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    background-color: white;
    font-weight: 500;
    color: #072e5a;
}

.collapsible_line{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border-bottom: 2px #072e5a solid;
    width: 75%;
    height: 2px;
}

.toggle_element{
    padding: 15px;
}

.collapsible:after{
    content: ' \02C5';
    font-size: 21px;
    margin-left: 15px;
}

.activo:after {
    content: ' \02C4';
    color: #072e5a;
    font-size: 21px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    font-size: 21px;
    max-width: 75%;
    margin: 16px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* toggle list fim */

.blue_cont{
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
    width: 100%;
    padding: 200px 0;
}

.blue_cont_text{
    padding: 5px 24px 5px 24px;
}

.blue_cont_text p{
    font-size: 12px;
    margin-bottom: 24px;
}

.blue_cont_text h2{
    font-size: 21px;
}

.fale_button{
    color: var(--cor-azul-escuro);
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 140px;
}

/* blue cont fim */

.footer_logo a img{
    height: 200px;
}

.footerdiv{
    border-bottom: 3px #00adcd solid;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

.footer_infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 70px;
}






.contato-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    width: 100%;
    color: var(--cor-azul-escuro);
}

.col {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.col p {
    margin: 1px 0;
    display: flex;
    align-items: center;
}

.col i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.email-group {
    position: relative;
}

.secondary-email {
    padding-left: 30px;
}

.col p i.fa-envelope {
    margin-right: 10px;
    width: 20px;
}

.contato-endereco {
    text-align: left;

}

.contato-endereco p {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.contato-endereco i {
    margin-right: 10px;
    padding-top: 5px;
}




/* tablets*/
@media(min-width : 480px){

    .toggle_list h1{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 33px;
    }

    .collapsible {
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 26px;
        background-color: white;
        font-weight: 500;
        color: #072e5a;
    }

    .collapsible:after{
        content: ' \02C5';
        font-size: 26px;
        margin-left: 15px;
    }

    .activo:after {
        content: ' \02C4';
        color: #072e5a;
        font-size: 26px;
    }


    .blue_cont{
        background-color: var(--cor-azul-escuro);
        color: var(--cor-branco);
        width: 100%;
        padding: 200px 0;
    }

    .blue_cont_text{
        padding: 5px 24px 5px 24px;
        width: 75%;
    }

    .blue_cont_text p{
        font-size: 17px;
        margin-bottom: 24px;
    }

    .blue_cont_text h2{
        font-size: 26px;
    }

    .nav-links{
        gap: 40px;
    }

}

/* desktops menores*/
@media(min-width : 768px){

    .toggle_list h1{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 38px;
    }

    .collapsible {
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 31px;
        background-color: white;
        font-weight: 500;
        color: #072e5a;
    }

    .collapsible:after{
        content: ' \02C5';
        font-size: 31px;
        margin-left: 15px;
    }

    .activo:after {
        content: ' \02C4';
        color: #072e5a;
        font-size: 31px;
    }


    .blue_cont{
        background-color: var(--cor-azul-escuro);
        color: var(--cor-branco);
        width: 100%;
        padding: 200px 0;
    }

    .blue_cont_text{
        padding: 5px 24px 5px 24px;
        width: 60%;
    }

    .blue_cont_text p{
        font-size: 22px;
        margin-bottom: 24px;
    }

    .blue_cont_text h2{
        font-size: 31px;
    }

    .nav-links{
        gap: 40px;
    }

}

/* telas grandes*/
@media (min-width : 1024px){

    .toggle_list h1{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 43px;
    }

    .collapsible {
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 36px;
        background-color: white;
        font-weight: 500;
        color: #072e5a;
    }

    .collapsible:after{
        content: ' \02C5';
        font-size: 36px;
        margin-left: 15px;
    }

    .activo:after {
        content: ' \02C4';
        color: #072e5a;
        font-size: 36px;
    }

    .blue_cont{
        background-color: var(--cor-azul-escuro);
        color: var(--cor-branco);
        width: 100%;
        padding: 200px 0;
    }

    .blue_cont_text{
        padding: 5px 24px 5px 24px;
        width: 50%;
    }

    .blue_cont_text p{
        font-size: 27px;
        margin-bottom: 24px;
    }

    .blue_cont_text h2{
        font-size: 36px;
    }

    .nav-links{
        gap: 40px;
    }

}

